/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}

html{
	width: 100%;
}

body{
	margin: 33px;
}


a{
	font-size: 13px;
}

a:hover{
	color: white;
	background-color: black;
}

span{
	font-size: 13px;
}
/* index.html--books */

.book-index{
	margin: 33px;
	width: 100%;
}

.main-title{
	font-size: 28px;
	margin-bottom: 15px;
}


th{
	font-size: 13px;
	margin: 10px;
}


td{
    font-size: 13px;
    padding: 1px 5px 7px;
}

.flash{
    color: #008000;
    margin: 33px;
    font-size: 13px;
}

.sub-title{
	font-size: 20px;
	margin: 20px 0;
}

.sub-text{
	font-size: 13px;
	margin-top: 20px;
}


/* show.html--books */

.show-text{
	font-size: 13px;
	margin: 33px;
}

/* edit.html--books */

.edit-box{
	margin: 33px;
}

.edit-title{
	font-size: 13px;
	margin-top: 10px;
}

.edit-back-link{
	font-size: 13px;
}

.update-link{
	margin: 10px 0;
}
