// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  color: #333;
}

.home-index{
	margin: 33px;
}

h2{
	font-size: 26px;
}

.home-text{
	font-size: 13px;
	margin: 30px
}

span{
	font-weight: bold;
}